<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - {{guild.guild_name}} Guild</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/guilds/guild_info.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <!-- Track the user status -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>

</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <!-- User Profile Section -->
    <div>
        <div class="container mx-auto py-8 guild_info">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
                <div class="col-span-4 sm:col-span-3">
                    <div class="shadow rounded-lg p-6 guild_info left_pane">
                        <div class="flex flex-col items-center">
                            <img class="inline-block w-48 rounded-full guild_avatar"
                                src="{{ guild.guild_avatar and 'data:image/jpeg;base64,' + avatar_base64 or url_for('static', filename='images/anvil.png') }}"
                                id="avatarPreview" alt="Avatar">
                            <h1 class="text-xl font-bold guild_info guildname">{{guild.guild_name}}</h1>
                        </div>
                        <div class="flex w-full h-4 mt-7 bg-gray-200 rounded-full overflow-hidde" role="progressbar"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="flex flex-col justify-center rounded-full overflow-hidden text-xs text-white text-center whitespace-nowrap dark:bg-blue-500 transition duration-500 guild_info xp_points"
                                style='width: {{ xp_percentage }}%;'></div>
                        </div>
                        <p class="text-xs text-center">50 / 150 XP</p>
                        {% if is_member == false %}
                        <a href="{{ url_for('guilds.join_guild', guild_id=guild.guild_id) }}" class="mb-2 text-blue-300 join_guild_buton">
                            JOIN GUILD
                        </a>
                        <a href="{{ url_for('guilds.open_guilds_list') }}" class="all_guilds_button">
                            ALL GUILDS</a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-span-4 sm:col-span-9">
                    <!-- Guild Stats Section -->
                    <div class="shadow rounded-lg p-6 guild_info left_pane">
                        <!-- About the Guild -->
                        <h2 class="text-xl font-bold mb-4 guild_info title">About The Guild</h2>
                        <div>
                            <div class="grid gap-6 mb-6 md:grid-cols-2">
                                <div>
                                    <label for="about_guild"
                                        class="block mb-2 font-medium text-gray-900 dark:text-white">Guild Name</label>
                                    <p class="text-gray-900 rounded-lg 
                                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 
                                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
                                        guild_info about_me_field">{{guild.guild_name}}
                                    </p>
                                </div>

                                <div>
                                    <label for="about_me"
                                        class="block mb-2 font-medium text-gray-900 dark:text-white">Guild
                                        Master</label>
                                    <a href="{{ url_for('usr.open_user_profile_view', username=guild.guild_master.username) }}"
                                        class="text-gray-900 rounded-lg 
                                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 
                                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
                                        guild_info about_me_field guild_master_field">{{guild.guild_master.username}}
                                    </a>
                                </div>
                            </div>
                            
                            <div class="grid gap-6 mb-6 md:grid-cols-1">
                                <div>
                                    <label for="first_name"
                                        class="block mb-2 font-medium text-gray-900 dark:text-white">Description</label>
                                    <p class="text-gray-900 rounded-lg 
                                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 
                                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
                                        guild_info about_me_field">{{guild.description}}
                                    </p>
                                </div>
                            </div>

                            <div class="grid gap-6 mb-6 md:grid-cols-3">
                                <div>
                                    <label for="first_name"
                                        class="block mb-2 font-medium text-gray-900 dark:text-white">Points</label>
                                    <p class="text-gray-900 rounded-lg 
                                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 
                                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
                                        guild_info about_me_field">{{guild.points}}
                                    </p>
                                </div>
                                <div>
                                    <label for="last_name"
                                        class="block mb-2 font-medium text-gray-900 dark:text-white">Level</label>
                                    <p class="text-gray-900 rounded-lg 
                                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 
                                            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
                                            guild_info about_me_field">{{guild.level}}
                                    </p>
                                </div>

                                <div>
                                    <label for="last_name"
                                        class="block mb-2 font-medium text-gray-900 dark:text-white">Dungeons
                                        completed</label>
                                    <p class="text-gray-900 rounded-lg 
                                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 
                                            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
                                            guild_info about_me_field">{{guild.dungeons_completed}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Guild Master Section -->
                    {% if is_guild_master == true %}
                    <div class="shadow rounded-lg p-6 mt-4 guild_info left_pane">
                        <h2 class="text-xl font-bold mb-4 guild_info title guild_master">Guild Master Menu</h2>
                        <div class="inline-flex rounded-md shadow-sm w-1/2">
                            <!-- Invite Member Modal -->
                            <button type="button" class="btn btn-primary guild_master_btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Invite member</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modal_el">
                                        <div class="modal-body">
                                            <form action="{{ url_for('guilds.invite_user', guild_id=guild.guild_id) }}" method="POST">
                                                {{ form.hidden_tag() }}
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">User:</label>
                                                    {{ form.user_input(class="form-control", id="recipient-name", placeholder="Username or User ID") }}
                                                </div>
                                    
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Message:</label>
                                                    {{ form.message(class="form-control", id="message-text", placeholder="Invite Message") }}
                                                </div>
                                    
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    {{ form.submit(class="btn btn-primary") }}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Kick Member Modal -->
                        </div>

                        <!-- Join Guild Requests Section -->
                        <h2 class="text-xl font-bold mt-4 mb-0 guild_info title guild_master">Users Join Requests</h2>
                        <div class="container mx-auto p-4">
                            {% for request in join_guild_requests %}
                            <div class="flex items-center shadow-md rounded-lg p-2 mb-2 request_el">
                                <div class="flex-shrink-0 mr-4">
                                    <img class="w-14 h-14 rounded-full object-cover"
                                        src="{{ url_for('usr.get_user_avatar', user_id=request.user_id) }}" alt="Avatar">
                                </div>
                                <div class="flex-grow">
                                    <div class="flex items-center mb-2">
                                        <a href="{{ url_for('usr.open_user_profile_view', username=request.user.username) }}"
                                            class="text-lg font-semibold text-blue-500" style="text-decoration: none">
                                            {{ request.user.username }}
                                        </a>
                                        <span class="ml-2 text-sm text-white-500">Level {{ request.user.level }}</span>
                                        <span class="ml-2 text-sm text-white-500">| Rank {{ request.user.rank }}</span>
                                    </div>
                                    <p class="text-sm text-white-500">
                                        Requested on: <span class="text-blue-500">{{ request.request_date.strftime('%d-%m-%Y') }}</span>
                                    </p>
                                </div>
                                <!-- Action Buttons -->
                                <div class="flex space-x-2">
                                    <a href="{{ url_for('guilds.handle_join_request', guild_id=request.guild_id, request_id=request.request_id, action='accept') }}" 
                                    class="px-4 py-2 text-sm font-medium text-white bg-green-500 hover:bg-green-600 rounded-lg focus:outline-none">
                                    Accept
                                 </a>
                                 <a href="{{ url_for('guilds.handle_join_request',guild_id=request.guild_id, request_id=request.request_id, action='decline') }}" 
                                    class="px-4 py-2 text-sm font-medium text-white bg-red-500 hover:bg-red-600 rounded-lg focus:outline-none">
                                    Decline
                                 </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div> 
                    {% endif %}
                </div>
            </div>

            <!-- Members Section -->
            <section class="min-h-screen py-8 px-8 lg:py-28">
                <div class="container mx-auto">
                    <div class="mb-16 text-center mb-2 lg:mb-28">
                        <h6 class="block antialiased tracking-normal font-sans font-semibold leading-relaxed text-lg mb-0 p-0 members_section title">
                            Guild Members</h6>
                    </div>
                    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
                        {% for member in guild_members %}
                        <div class="relative flex flex-col mt-0 p-0 bg-clip-border rounded-lg bg-[#FAFAFA] items-center">
                            <div class="p-6 text-center">
                                <img class="h-20 w-20 rounded-full object-cover bg-gray-50 shadow-md mx-auto"
                                    src="{{ url_for('usr.get_user_avatar', user_id=member.user_id) }}" alt="User Avatar">
                                <h5
                                    class="block antialiased tracking-normal font-sans leading-snug text-blue-gray-900 !font-medium text-lg">
                                    <a href="{{ url_for('usr.open_user_profile_view', username=member.username) }}"
                                        class="text-lg font-semibold text-blue-500 members_section_username" style="text-decoration:none">
                                        {{ member.username }}
                                    </a>
                                </h5>
                                <p class="block antialiased font-sans leading-relaxed mb-2 !text-base !font-semibold">
                                    {{ member.rank }}
                                </p>
                                <div class="flex items-center justify-center mt-0">
                                    {% if is_guild_master %}
                                    <div class="flex items-center mt-0">
                                        <!-- Kick Member Modal -->
                                        <button type="button" class="btn btn-primary guild_master_btn" data-toggle="modal" data-target="#removeMemberModal" data-whatever="@mdo">Remove member</button>
                                        <div class="modal fade" id="removeMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content modal_el">
                                                    <div class="modal-body">
                                                        <form action="{{ url_for('guilds.kick_user', user_id=member.user_id, guild_id=member.guild_id) }}" method="POST">
                                                            {{ form.hidden_tag() }}
                                                            <div class="form-group">
                                                                <h5>Are you sure you would like to remove <span class="member-username-remove">{{ member.username }}</span>?</h5>
                                                            </div>
                                                
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Remove</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>


    <!-- JavaScript managing the content in the Bootstrap table -->
    <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>
    <!-- Guild Master functionalities -->
    <script src="{{ url_for('static', filename='js/guildMaster.js') }}"></script>
    <script>
        function previewAvatar(event) {
            const avatarPreview = document.getElementById('avatarPreview');
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    avatarPreview.src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        }
    </script>

</body>

<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>